body {
    margin: 0;

    background-color: black;
    color: white;

    font-family: 'Comfortaa', cursive;
}

a {
    font-size: smaller;
    color: white;
    text-decoration: none;
}

#navbar,
#footer {
    height: 10vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    margin: 0 5%;
}

#footer {
    bottom: 0;
    height: 5vh;
    text-align: center;
}

#footer a {
    margin: 0 5%;
}

#main-container {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.full-page-screen {
    height: 100vh;
    width: 100vw;

    scroll-snap-align: start;

    display: flex;
    flex-flow: column;
}

.content-container {
    flex: 1;
    overflow: auto;
    width: auto;
    margin: 20% 5%;
}

#projects-container {
    display: flex;
    flex-flow: column wrap;
}

.slider-icons {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.icon {
    height: auto;
    width: 12.5%;
    flex-grow: 1;
    background-color: black;
}

.icon-img {
    color: black;
    background: radial-gradient(white 0, white 50%, black 100%);
    margin: 5%;
}  

.slider {
    height: 80%;
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    scroll-snap-type: x mandatory;  
}

.slide {
    flex-shrink: 0;
    width: 100%;
    margin: 0 25%;
    height: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}