.content-container {
    background-color: blue;
}

#intro-screen {
    background-color: navy;
}

#projects-screen {
    background-color: midnightblue;
}

#about-screen {
    background-color: navy;
}

.slider {
    background-color: black;
} 

/* .slider-icons {
    background-color: lime;
} */

#slide-0 {
    background-color: darkgrey;
}

#slide-1, #slide-3, #slide-5 {
    background-color: red;
}

#slide-2, #slide-4, #slide-6 {
    background-color: darkred;
}